@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<h2>Welcome to the Weather App!</h2>

<div style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
    <img src="images/weather.jpg" width="70%"/>
</div>